<div class="item">
  <img class="fluid-img mb-1" src="{{thumbnail_url}}" alt="{{name}}">
  <h5 class="text-truncate mb-0">{{name}}</h5>
  <p class="small text-truncate">{{name_suffix}}</p>
  <div class="add-activity">
    <a href="/activities/create/{{tripId}}/{{sygicId}}" class="text-center"><i class="fas fa-plus"></i></a>
  </div>
</div>