<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="icon" href="/images/favicon.ico">

  <link rel="stylesheet" href="/lib/owlcarousel/assets/owl.carousel.min.css" />
  <link rel="stylesheet" href="/lib/owlcarousel/assets/owl.theme.default.min.css" />

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/javascripts/script.js"></script>

  {{#if useCroppie}}
  <link rel="stylesheet" href="/stylesheets/lib/croppie.css" />

  <script src="/javascripts/lib/croppie.min.js"></script>
  <script src="/javascripts/signupScript.js"></script>
  {{/if}}
  {{#if useDateRange}}
  <link rel="stylesheet" href="/stylesheets/lib/daterangepicker.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

  <script src="/javascripts/lib/moment.min.js"></script>
  <script src="/javascripts/lib/daterangepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script src="/javascripts/createTripScript.js"></script>
  {{/if}}

  <link rel="stylesheet" href="/lib/fontawesome/css/all.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  <nav class="navbar navbar-wanderlust navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="/images/logo/logo-white.png" width="30" height="30" class="d-inline-block align-top" alt="Wanderlust logo">
      Wanderlust
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item{{homeActive}}">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        {{#if user}}
        <li class="nav-item{{tripsActive}}">
          <a class="nav-link" href="/trips">Trips</a>
        </li>
        <li class="nav-item dropdown{{userActive}}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/profile">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Log out</a>
          </div>
        </li>
        {{else}}
        <li class="nav-item{{loginActive}}">
          <a class="nav-link" href="/login">Log in</a>
        </li>
        <li class="nav-item{{signupActive}}">
          <a class="nav-link" href="/signup">Sign up</a>
        </li>
        {{/if}}
      </ul>
    </div>

    {{#if user}}
    <a class="btn btn-outline-light" href="/trips/create">Add trip</a>
    {{/if}}
  </nav>

  {{{body}}}

</body>
</html>